
<div class= "d-flex flex-wrap gap-4 justify-content-center align-items-stretch">
  <!-- Card do Cadastro -->
      <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
      <img src="/static/images/cadastros.jpg" class="card-img-top" alt="motorista">
      

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Cadastros</h5>
      <p class="card-text mb-3">Seção para realização dos cadastros de Motoristas, Alunos, Pais e Veículos e a edição.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="{{ url_for('home.cadastros') }}"  class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalCadastros">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalCadastros" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nesta seção será cadastrado os motoristas parceiros da instituição para que possamos organizar as rotas e as regiões que irão atuar.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
  </div>


 <!-- Card Rota -->


            <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
              <img src="/static/images//rotas.jpg" class="card-img-top" alt="Gerenciar rotas">
  

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Rotas</h5>
      <p class="card-text mb-3">Seção dedicada a gerenciar e organizar as rotas de transposrte dos alunos.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="{{ url_for('home.rotas') }}" class="btn btn-primary">Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalRotas">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="modalRotas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nesta seção gerenciaremos as rotas dos transportes dos alunos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>

  <!-- Card RH -->


          <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
              <img src="/static/images/recursoshumanos.jpg" class="card-img-top" alt="Exibir Rotas">


  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Recursos Humanos</h5>
      <p class="card-text mb-3">Seção dedicada aos colaboradores da instituição. Aqui estão os serviços de ponto digital e demais atribuições relacionadas aos trabalhadores.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="{{ url_for('home.recursoshumanos') }}" class="btn btn-primary btn-bloqueio"> <i class="bi bi-lock-fill" style="color: white"></i> Ir para página</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalRH">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalRH" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Gerenciamento do ponto digital e demais serviços do Recursos Humanos.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>


</div>