      <ul class="nav nav-pills">
      <li class="nav-item">
      <a href="{{ url_for('home.home') }}" class="nav-link text-light" aria-current="page">Home</a></li> 
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cadastro
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item btn-bloqueio" href="{{ url_for('motoristas.cadastro_motoristas') }}">Motoristas <i class="bi bi-lock-fill" style="color: white"></i></a></li>
            <li><a class="dropdown-item btn-bloqueio" href="{{ url_for('veiculos.cadastro_veiculos') }}" >Veículos <i class="bi bi-lock-fill" style="color: white"></i></a></li>
            <li><a class="dropdown-item" href="{{ url_for('pais.cadastro_pais') }}">Pais </a></li>
            <li><a class="dropdown-item" href="{{ url_for('alunos.cadastro_alunos') }}">Alunos </a></li>
            <li><a class="dropdown-item" href="#">Alterar Cadastros</a></li>

          </ul>
        </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rotas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item btn-bloqueio" href="#">Gerenciar Rotas <i class="bi bi-lock-fill" style="color: white"></i></a></li>
            <li><a class="dropdown-item" href="#">Exibir Rotas</a></li>
          </ul>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recursos Humanos
          </a>
          <ul class="dropdown-menu">
          <li><a class="dropdown-item btn-bloqueio" href="{{ url_for('pontodigital.pontodigital') }}">Ponto Digital <i class="bi bi-lock-fill" style="color: white"></i></a></li>
          </ul>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Perfil
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">{{ nome_usuario }}</a></li>
            <li><a class="dropdown-item" href="{{ url_for('usuarios.logout') }}">Logout</a></li>
          </ul>
        </li>
    
    </ul>    
  
      </div>