
<div class= "d-flex flex-wrap gap-4 justify-content-center align-items-stretch">
  <!-- Card Gerenciador de Rota -->


        <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
        <img src="/static/images/motoristatransporte.jpg" class="card-img-top" alt="Gerenciar rotas">
  

  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Vinculação do Motorista - Transporte</h5>
      <p class="card-text mb-3">Nesta página iremos associar o motorista ao transporte que irá realizar</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="{{ url_for('rotas.gerenciamento_rotas') }}" class="btn btn-primary">Ir para página</a>
      <a href="{{ url_for('rotas.lista_alocaviagens') }}"  class="btn btn-warning">Editar</a>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalRota">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modalRota" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Nesta seção será feito todo o gerenciamento das rotas. Será feito o ajuste para vincular todos os cadastros para a criação das rotas É possível editar as vinculações já feitas ou excluí-las, basta ir em "Editar".
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 <!-- Card Exibição de Rota -->


        <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
        <img src="/static/images/transporteescolar.jpg" class="card-img-top" alt="Exibir Rotas">


  <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Criação das rotas</h5>
      <p class="card-text mb-3">Nesta página será feita a relação de alunos com os respectivos transpote.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="{{ url_for('rotas.relacao_rotas') }}" class="btn btn-primary">Ir para página</a>
      <a href="{{ url_for('rotas.relacao_editar_rotas') }}"  class="btn btn-warning">Editar</a>

      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalExibirRota">
        <i class="bi bi-question-circle"
           data-bs-toggle="tooltip"
           data-bs-placement="top"
           data-bs-title="Abrir informações"></i>
      </button>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalExibirRota" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Neste seção será feita a criação da rota associando os alunos ao motoristas que já está associado a um transporte que irá conduzir.É possível editar as vinculações já feitas ou excluí-las, basta ir em "Editar".
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
 
</div>