<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pais ou Responsáveis</title>
    <!-- Link importando o bootstrap para o html -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/estilo.css">

</head>

<body>
    <header data-bs-theme="dark" class="navbar bg-primary d-flex flex-wrap justify-content-center py-3 mb-4">
    <a href="home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <span class="fs-4 ms-5">Transporte Seguro</span> 
    </a> 
      {% if perfil == 'Admin' %}
        {% include 'trechos/headers/hearder_admin.html' %}
      {% elif perfil == 'Motorista' %}
        {% include 'trechos/headers/header_motoristas.html' %}
      {% elif perfil == 'Pais' %}
        {% include 'trechos/headers/header_pais.html' %}
      {% endif %}
    </header>
    <main>
        <h1 class="d-flex justify-content-center mb-4">Cadastro de Pais ou Responsáveis</h1>
        <!-- Metodo do flask para o usuário receber informações de alerta do backend -->
        <div class="box_aviso container-md" id="msg-feedback"></div>
        <div class="box_aviso container-md" id="msg-error"></div>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %} {% for category, message in messages %}

      <div
        class="alert alert-{{ category }} container-md"
        style="width: 80%; max-width: 30rem;"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %} {% endif %} {% endwith %}
        <div class="centraliza">
         {% if perfil == 'Admin' %}
            {% include 'trechos/cadastros/cad_pais/info_admin.html' %}
         {% elif perfil == 'Pais' %}
            {% include 'trechos/cadastros/cad_pais/info_pais.html' %}
         {% endif %}
        </div>

        

        <div class="container-md box-form" style="width: 80%;">
            <form id="form" method="POST" action="/cadastro_pais" >
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="Nome">Nome (*)</label>  
                        <input class="form-control" type="text" name="nome" id="nome" required pattern=".*[A-Za-z0-9].*" title="Não é permitido deixar o campo vazio" value="{{ nome if nome is not none else '' }}" {% if perfil == 'Pais' %} readonly {% endif %}>
                    </div>
               
                    <div class="col-sm-6">
                        <label for="Sobrenome">Sobrenome (*)</label>
                        <input class="form-control" type="text" name="sobrenome" id="sobrenome" required pattern=".*[A-Za-z0-9].*" title="Não é permitido deixar o campo vazio" value="{{ sobrenome if sobrenome is not none else '' }}"{% if perfil == 'Pais' %} readonly {% endif %}>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="email">E-mail (*)</label>
                        <input class="form-control" type="email" name="email" id="email" title="exemplo@email.com" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" value="{{ email if email is not none else '' }}"{% if perfil == 'Pais' %} readonly {% endif %}>
                    </div>
                    <div class="col-sm-6">
                        <label for="telefone">Telefone Celular (*)</label>
                        <input class="form-control" type="text" name="telefone" id="telefone" required
                            title="(00) 00000-0000" pattern="\(\d{2}\) \d{4,5}-\d{4}">
                        <div id="avisotelefone" class="form-text">
                            Informe o DDD e o número do telefone.
                        </div>
                    </div>
                    
                    
                </div>
                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="cep">CEP (*)</label>
                        <input class="form-control" type="text" name="cep" id="cep" required
                            title="00000-000">
                        <div id="avisocep" class="form-text">
                            Informe os 8 digitos do CEP.
                        </div>
                    </div>
                    <div class="col-md"><label for="rua">Rua (*)</label>
                        <input class="form-control" name="rua" type="text" id="rua" size="60" /></label>
                    </div>
                    <div class="col-md-1"><label for="numero">Nº (*)</label>
                        <input class="form-control" name="numero" type="text" id="numero" size="60" required /></label>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-4"><label for="complemento">Complemento</label>
                        <input class="form-control" name="complemento" type="text" id="complemento" size="60" /></label>
                    </div>
                    <div class="col-md-4"><label for="bairro">Bairro (*):</label>
                            <input class="form-control" name="bairro" type="text" id="bairro" size="40" />
                    </div>

                    <div class="col-md-3"><label for="cidade">Cidade (*)</label>
                            <input class="form-control" name="cidade" type="text" id="cidade" size="40" />
                    </div>
                    <div class="col-md-1"><label for="estado">UF (*)</label>
                            <input class="form-control" name="estado" type="text" id="estado" size="2" />
                    </div>
                    <div class="col-md mb-3">
                        <label for="regiao">Região da Rota (*)</label>
                        <select class="form-control w-25" name="regiao" id="regiao" required >
                            <option value="">Selecione</option>
                            <option value="Norte">Norte</option>
                            <option value="Sul">Sul</option>
                            <option value="Leste">Leste</option>
                            <option value="Oeste">Oeste</option>
                            <option value="Centro">Centro</option>
                        </select>
                    </div>
                </div>
                    <div class="row g-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary mb-3">Enviar</button>
                            <button type="reset" class="btn btn-outline-warning mb-3">Apagar</button>
                            <a href="{{ url_for('home.cadastros') }}" class="btn btn-outline-secondary mb-3">Voltar</a>
                        </div>
                    </div>
            </form>
        </div>

    </main>
    <footer class="bg-dark text-white text-center py-3 mt-3">
      Desenvolvido em grupo pelos alunos do grupo DRP07-PJI240 do Eixo de
      Computação da UNIVESP
    </footer>

    <!-- Jquery para o api do CEP, alteração do icone de mostrar e ocultar a senha e a máscara do cep. -->
     <!-- Importante lembrar que para o funcionamento correto a ordem importa. -->


     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script src="/static/script.js"></script> -->

    
    
    <script src="/static/funcoes_cadastro_p.js"></script>
</body>

</html>