<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Altearar Cadastro de Alunos</title>
    <!-- Link importando o bootstrap para o html -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://getbootstrap.com/docs/5.3/assets/css/docs.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/static/estilo.css">

</head>

<body>
    <header data-bs-theme="dark" class="navbar bg-primary d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="{{ url_for('home.home') }}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"> <span class="fs-4 ms-5">Transporte Seguro</span> 
    </a> 
      {% if perfil == 'Admin' %}
        {% include 'trechos/headers/hearder_admin.html' %}
      {% elif perfil == 'Motorista' %}
        {% include 'trechos/headers/header_motoristas.html' %}
      {% elif perfil == 'Pais' %}
        {% include 'trechos/headers/header_pais.html' %}
      {% endif %}
    </header>
    <main>
        <h1 class="d-flex justify-content-center mb-4">Alterar Cadastro de Alunos</h1>
        <!-- Metodo do flask para o usuário receber informações de alerta do backend -->
        <div id="msg-feedback"></div>
        <div id="msg-error"></div>
        <div class="centraliza">
         {% if perfil == 'Admin' %}
            {% include 'trechos/cadastros/cad_aluno/info_admin.html' %}
         {% elif perfil == 'Pais' %}
            {% include 'trechos/cadastros/cad_aluno/info_pais.html' %}
         {% endif %}
        </div>

        

        <div class="container-md box-form" style="width: 80%;">
            <form id="form" method="PUT" action="/editar_alunos" >
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="Nome">Nome (*)</label>  
                        <input class="form-control" type="text" name="nome" id="nome" required pattern=".*[A-Za-z0-9].*" title="Não é permitido deixar o campo vazio" value="{{ nome if nome is not none else '' }}">
                    </div>
               
                    <div class="col-sm-6">
                        <label for="Sobrenome">Sobrenome (*)</label>
                        <input class="form-control" type="text" name="sobrenome" id="sobrenome" required pattern=".*[A-Za-z0-9].*" title="Não é permitido deixar o campo vazio" value="{{ sobrenome if sobrenome is not none else '' }}">
                    </div>
                </div>
                
                
                <div class="row g-3 pt-3">
                    
                    <div class="col-md-3 mb-3">
                        <label for="Responsavel"class= "mt3">Responsavel (*)</label>
                        <select class="form-control" name="Responsavel" id="responsavel" required >
                            <option value="{{ aluno.id_pais }}"selected>{{aluno.pais.nome}} {{aluno.pais.sobrenome}} </option>
                            
                            
                        </select>
                    </div>
                </div>
                    <div class="row g-3">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-outline-primary mb-3">Enviar</button>
                            <button type="reset" class="btn btn-outline-warning mb-3">Apagar</button>
                            <a href="{{ url_for('home.home') }}" class="btn btn-outline-secondary mb-3">Voltar</a>
                        </div>
                    </div>
            </form>
        </div>

    </main>
    <footer class="bg-dark text-white text-center py-3 mt-3">
      Desenvolvido em grupo pelos alunos do grupo DRP07-PJI240 do Eixo de
      Computação da UNIVESP
    </footer>

    <!-- Jquery para o api do CEP, alteração do icone de mostrar e ocultar a senha e a máscara do cep. -->
     <!-- Importante lembrar que para o funcionamento correto a ordem importa. -->


     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <script src="/static/script.js"></script> -->

    
    <script>
    const alunoId = "{{ aluno.id }}";
    </script>
    <script src="/static/funcoes_editar_cadastro_aluno.js"></script>
</body>

</html>