
<div class= "d-flex flex-wrap gap-4 justify-content-center align-items-stretch">
  <!-- Card Ponto digital -->


    <div class="card d-flex flex-column justify-content-between p-3" style="width: 18rem;">
      <img src="/static/images/ponto_digital.jpg" class="card-img-top" alt="Ponto Digital">

    <!-- Conteúdo principal -->
  <div class="flex-grow-1 d-flex flex-column justify-content-between">
    <div>
      <h5 class="card-title mt-3">Ponto digital</h5>
      <p class="card-text mb-3">Seção dedicada para assinar o ponto digital dos funcionários.</p>
    </div>

    <!-- Botões -->
    <div class="mt-auto d-flex justify-content-between align-items-center">
      <a href="{{ url_for('pontodigital') }}" class="btn btn-primary"> Ir para página</a>
        
        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#modalPonto">
          <i class="bi bi-question-circle"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          data-bs-title="Abrir informações"></i>
        </button>

      </div>
  </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalPonto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Informações</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Realização do ponto digital dos funcionários.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
  </div>
</div>